aiofiles==25.1.0
aiogram==3.30.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
annotated-types==0.8.0
attrs==26.1.0
certifi==2026.7.22
cffi==2.1.0
colormath==3.0.0
colorspacious==1.1.2
curl_cffi==0.16.0
frozenlist==1.8.0
idna==3.18
joblib==1.5.3
magic-filter==1.0.12
multidict==6.7.1
narwhals==2.24.0
networkx==3.6.1
numpy==2.5.1
pandas==3.0.5
pillow==12.3.0
propcache==0.5.2
pyaes==1.6.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pyrogram==2.0.106
PySocks==1.7.1
python-dateutil==2.9.0.post0
rlottie-python==1.3.8
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
TgCrypto==1.2.5
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
yarl==1.24.5
